meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Sistema de Seguridad y Salud en el Trabajo
meta(meta name="description" content="Las personas que laboran en las áreas de sanidad de los ERON, requieren conocer los elementos conceptuales del Sistema de Seguridad y Salud en el Trabajo en el ámbito penitenciario orientado específicamente al personal que ejerce una profesión u ocupación en salud, de igual forma,  promoción de la salud y prevención de la enfermedad en entornos laborales y los derechos y deberes frente al empleador, de conformidad con la normatividad vigente, con el propósito de ejercer las medidas tendientes a mantener el control de los factores de riesgo laborales procedentes de agentes biológicos, físicos o químicos o psicosociales; logrando prevención de impactos nocivos y asegurando que los procedimientos no atenten contra la salud y seguridad de trabajadores de la salud, pacientes, visitantes y el medio ambiente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")