h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body
                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Sistema de Seguridad y Salud en el trabajo', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Identificación de peligros y evaluación de riesgos', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Riesgo psicosocial', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Promoción de la salud y prevención de la enfermedad en entornos laborales', 'main.html#page/tema-4/')
                    +navTemaItem('5', 'Recomendaciones de seguridad en establecimientos penitenciarios', 'main.html#page/tema-5/')