h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Proponer acciones de prevención y atención de riesgos laborales en el entorno penitenciario teniendo en cuenta el sistema de gestión de la seguridad y salud en el trabajo. 




