doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title RUTA DE APRENDIZAJE
    meta(meta name="description" content="")  
    link(rel="stylesheet", href="css/main.css")

  body
    .container.timeline__wrapper
      .row.justify-content-center.px-sm-2.px-md-5.py-5
        .col-10 
          section                      
                       
            .timeline-card-wrapper.tl--borders.pt-5                          
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 Constitución Política de Colombia. Artículo 25
                  .date
                    h2 1990
                                       
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 CONPES 2945
                  .date
                    h2 1997
                                        
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 Ministerio de Salud y Protección Social - Decreto 933 Artículo 19
                  .date
                    h2 2003
                                         
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 Ministerio de Salud y Protección Social - Decreto 249 Artículo 12
                  .date
                    h2 2004
              .timeline-card
                .timeline-card__subhead
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 Organización Internacional del Trabajo Recomendación 195                
              .timeline-card
                .timeline-card__subhead
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 CONPES 81  
                                       
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 CONPES 3674
                  .date
                    h2 2010
                                       
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 CONPES 3674
                  .date
                    h2 2010
                                       
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 SENA  Resolución 1658
                  .date
                    h2 2013
                                         
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 Congreso de Colombia - Ley 1955 Artículo 194
                  .date
                    h2 2019
                                        
              .timeline-card
                .timeline-card__head
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 CONPES 3988
                  .date
                    h2 2020
              .timeline-card
                .timeline-card__subhead
                  .img-box
                    img(src="assets/images/pages/tema-2/icon-timeline-1.svg", alt="")
                  h3 Presidencia de la República - Decreto 78          
                
                

            
            
            
                