.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Accidente de trabajo:
            | acontecimiento repentino que sobreviene por causa o con ocasión del trabajo. Es también accidente de trabajo aquel que se produce durante la ejecución de órdenes del empleador.
        hr
        p
            strong.mr-2 Bioseguridad:
            | conjunto de medidas preventivas que tienen por objeto eliminar o minimizar el factor de riesgo biológico que pueda llegar a afectar la salud, el medio ambiente o la vida de las personas, asegurando que el desarrollo de procedimientos no atenten contra la salud y seguridad de los trabajadores y comunidad en general
        hr
        p
            strong.mr-2 Desinfección:
            | eliminación de microorganismos de una superficie por medio de agentes químicos o físicos
        hr
        p
            strong.mr-2 Elemento de Protección Personal (EPP):	
            | dispositivo que sirve como barrera entre un peligro y alguna parte del cuerpo de una persona.
        hr
        
        p
            strong.mr-2 Limpieza:	
            | proceso que remueve el material extraño u orgánico de las superficies que puedan resguardar bacterias al oponerse a la acción de biodegradabilidad de las soluciones antisépticas.
        hr

        p
            strong.mr-2 Normas de bioseguridad:
            | normas de precaución que deben aplicar los trabajadores en áreas asistenciales al manipular sangre, secreciones, fluidos corporales o tejidos provenientes de todo paciente y sus respectivos recipientes, independiente de su estado de salud, y forman parte del programa de salud ocupacional.
        hr

        p
            strong.mr-2 Prestadores de servicios de salud:	
            | se consideran las instituciones prestadoras de servicios de salud IPS, los profesionales independientes de salud, las entidades con objeto social diferente y el transporte especial de pacientes.
        hr
        p
            strong.mr-2 Prevención:
            | acciones dirigidas a identificar, controlar y reducir los factores de riesgo biológicos, del ambiente y de la salud. Manejo o disposición de residuos, con el fin de evitar que aparezca el riesgo o la enfermedad y se propaguen u ocasionen daños mayores o generen secuelas.
        hr
        p
            strong.mr-2 Residuos o desechos peligrosos con riesgo biológico o infeccioso:	
            | contiene agentes patógenos como microorganismos y otros agentes con bastante virulencia y concentración como para causar enfermedades en los seres humanos o en los animales.
        hr
        p
            strong.mr-2 Riesgo biológico:	
            | consiste en la presencia de un organismo, o sustancia derivada de un organismo, que puede presentar una amenaza a la salud humana como residuos con características biológicas - infecciosas, muestras de un microorganismo, virus o toxina de una fuente biológica que puede resultar patógena.