.container#page-introduccion

    .header-ecored
        h1 Introducción

    .card.my-4
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/QJuzT33_ajg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body

            p Damos inicio al último recurso educativo de este curso de Salud Penitenciaria a través del cual se definen y desarrollan los elementos conceptuales, técnicos y metodológicos del Sistema de Seguridad y Salud en el Trabajo en contextos penitenciarios. 

            p.mt-4 Este recurso se orienta a destacar temáticas contenidos e instrumentos que servirán de guía y agenda de trabajo a los servidores, funcionarios y personal que ejerce una profesión u ocupación en salud al interior de los establecimientos de reclusión del país.  El objetivo de este material técnico y pedagógico es garantizar que los escenarios de trabajo donde es atendida la población privada de la libertad, sean ambientes seguros y protegidos a pesar de los contextos; que contribuyan, no solo al bienestar y la protección de la salud y la vida de los trabajadores sino también a espacios dignos para la prestación de servicios de salud a las personas privadas de la libertad.