.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso

            tbody

            
                tr
                    td Ley 65 de 1993    
                    td Página web
                    td 
                        a(href="http://www.secretariasenado.gov.co/senado/basedoc/ley_0065_1993.html", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver página

                tr
                    td Resolución 3190 de 2013

                    td Página web
                    td 
                        a(href="http://epn.gov.co/elearning/distinguidos/TRATAMIENTO/1_resolucin_3190_del_23102013.html", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver página   

                tr
                    td Resolución 7302 de 2005   
                    td Página web
                    td 
                        a(href="http://www.suin-juriscol.gov.co/viewDocument.asp?ruta=Resolucion/4023234", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver página            

                tr
                    td Decreto 2296 de 2014; Resoluciones 4005 de 2016 y 5512 de 2016 
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-5512-de-2016.pdf ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar 

                tr
                    td El modelo de atención en salud para la población privada de la libertad, está regulado mediante la Resolución 5159 de 2015.   
                    td PDF
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/DIJ/resolucion-5159-de-2015.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Rojas, Javier (2016).  Modelo de Atención en Salud para la población privada de la libertad.   
                    td Video en Youtube
                    td 
                        a(href="https://www.youtube.com/watch?v=NKyFvATxDvo", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver video                   