.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody

            
                tr
                    td Guía técnica GTC. Colombiana. 45. 2010-12-15. Guía para la identificación de los peligros y la valoración de los riesgos en seguridad y salud ocupacional.    
                    td Publicación en PDF
                    td 
                        a(href="https://idrd.gov.co/sitio/idrd/sites/default/files/imagenes/gtc450.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material

                tr
                    td Decreto del Sistema de Gestión de Seguridad y Salud Decreto 1443 de 2014.

                    td Publicación web
                    td 
                        a(href="https://www.mintrabajo.gov.co/documents/20147/51963/Decreto+1443.pdf/e87e2187-2152-a5d7-fd1d-7354558d661e", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material   

                tr
                    td Precauciones estándar de bioseguridad en el laboratorio según CLSI GP17-A2   
                    td Publicación web
                    td 
                        a(href="http://www.lebbyac.com/manual2/Procedimientos_generales/precauciones_estandar_seguridad.html", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material            

                tr
                    td Residuos hospitalarios. 
                    td Publicación web
                    td 
                        a(href="https://www.dadiscartagena.gov.co/index.php/vigilancia-y-control/residuos-hospitalarios", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material 