.container

    .header-ecored
        h1 5. Recomendaciones de seguridad en establecimientos penitenciarios.

    .jumbotron.bg-white

        p La violencia será la condición de riesgo en los ERON pues abarca desde el lenguaje ofensivo o amenazador hasta el homicidio.

        p De acuerdo al Instituto Nacional para la Seguridad y Salud Ocupacional (NIOSH) define la violencia en el lugar de trabajo como los actos violentos (incluyendo las agresiones físicas y las amenazas de agresión) dirigidos a las personas que trabajan o están de turno.

        .header-arrow.mt-5
            h3.text-center Los ejemplos de violencia incluyen:

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-5/icon-1.svg", style="max-height:80px").img-fluid
                        p.card__copy 
                            strong Amenazas: 
                            | las expresiones del propósito de hacer daño, incluyendo las amenazas verbales, el lenguaje corporal amenazador, y las amenazas escritas.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-5/icon-2.svg", style="max-height:80px").img-fluid
                        p.card__copy 
                            strong Agresiones físicas: 
                            | los ataques que van desde golpear hasta la violación, el homicidio, y el uso de armas de ataque como las armas de fuego, las bombas o los cuchillos.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-5/icon-3.svg", style="max-height:80px").img-fluid
                        p.card__copy 
                            strong Atracos: 
                            | las amenazas de acometimiento grave, generalmente hechas sorpresivamente y con el propósito de robar.

        .header-arrow.mt-5
            h3.text-center Recomendaciones de seguridad:

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        p.card__copy 
                            i.fa.fa-check.mr-3 
                            | Adopte una actitud tranquila y bondadosa.
                            
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        p.card__copy 
                            i.fa.fa-check.mr-3 
                            | No responda a las amenazas con amenazas.

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        p.card__copy 
                            i.fa.fa-check.mr-3 
                            | No dé órdenes.
                            
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        p.card__copy 
                            i.fa.fa-check.mr-3 
                            | Reconozca los sentimientos de la persona (por ejemplo, "Sé que usted está frustrado").

            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        p.card__copy 
                            i.fa.fa-check.mr-3 
                            | Evite cualquier conducta que pudiera interpretarse como agresiva (por ejemplo, moviéndose rápidamente, acercándose demasiado, tocando, o hablando en voz alta).