.container

    .header-ecored
        h1 2. Identificación de peligros y evaluación de riesgos


    .jumbotron.bg-white

        .subtitulo-guion.mt-0
            h2 ¿Cuáles son los peligros y riesgos presentes en las áreas de sanidad?

        p.mt-5 Los trabajadores de la salud se enfrentan a riesgos de accidentes y enfermedades relacionados con su ocupación. El estrés psíquico, el contacto con enfermedades transmisibles y la violencia son quizás los principales riesgos. Los trabajadores de los servicios de urgencia están sometidos a ellos, con mayor frecuencia que los de otras áreas.

        .jumbotron
            .row.align-items-center
                .col-12.col-md-6
                    p
                        strong Las mujeres representan casi el 80% de la fuerza laboral en el sector salud.
                    p Los trabajadores de la salud se enfrentan a una gran variedad de riesgos en el trabajo, entre las cuales se encuentran lesiones por pinchazos de agujas, lesiones de la espalda, alergias al látex, violencia y estrés. 
                .col-12.col-md-6.text-center
                    img(src="assets/images/pages/tema-2/t2.svg").img-fluid


        p Las tasas de lesiones ocupacionales de los trabajadores de salud han aumentado en la última década. En comparación, la agricultura y la construcción, dos de las industrias más peligrosas. 

        p La caracterización de peligros, evaluación y estimación de riesgos en un Sistema de Gestión de Seguridad y Salud en el Trabajo (SG-SST) deberán ser desarrollados por un dirigente ayudado del compromiso y la participación de todos los empleados de la organización, independientemente del nivel que tengan.

        .bg-yellow
            .bg-borde-rayas

            .p-4
                p La identificación de peligros, la evaluación y la valoración de riesgos deben ser documentadas y actualizadas:
                ul.bg-color-dark
                    li 
                        span.font-weight-bold Anualmente.
                    li 
                        span.font-weight-bold Cada vez que suceda un accidente de trabajo mortal o un evento catastrófico en la organización.
                p Cuando se presenten cambios en los procesos, en las instalaciones en la maquinaria o en los equipos que se utilizan.

            .bg-borde-rayas

        .subtitulo-guion.my-5
            h2 Gestión del riesgo en el sector salud

        p Este es un ejemplo de identificación del riesgo de los principales accidentes de origen biológico:

        p.text-center.my-5
            img(src="assets/images/pages/tema-2/pinchazo.jpg").img-fluid
        
        p El empleador o entidad contratante del trabajador de la salud deberá adoptar una metodología para la identificación, evaluación, valoración y control de peligros, además de los riesgos que puedan darse en la organización.

        p La metodología deberá contemplar los siguientes aspectos: 

        .jumbotron.bg-azul-opaco.mt-5
            .row.align-items-center
                .col-12.col-md-4.text-center
                    .p-4
                        img(src="assets/images/pages/tema-2/enfermera.svg").img-fluid
                .col-12.col-md-8
                    ul.bg-color-light
                        li
                            span.text-white Todos los procesos 
                        li
                            span.text-white Actividades rutinarias y no rutinarias
                        li
                            span.text-white Actividades internas o externas
                        li
                            span.text-white Maquinaria y equipos de trabajo
                        li
                            span.text-white Todos los centros de trabajo
                        li
                            span.text-white Todos los empleados, independiente de su forma de contratación o vinculación con la empresa.
                        li
                            span.text-white Medidas de prevención y control.


